  #main {
    margin: 0px;
    padding: 0px;
    font-size: small;
  }
   #approval a, #waiting a{
   color: #0033CC;
   font-size: 12px;
   }
   
body{
  background: transparent; /*color de fondo*/
  font-family: arial, sans-serif; font-size: 13px;
}

#picasa{
  margin-left: 15px;
  margin-top: 10px;
  overflow: auto;
}

#picasa .album{
/*   text-align: center; */
/* 	cursor: pointer; */
/* 	padding: 5px; */
/* 	display: inline-block; */
/* 	width: 180px; */
/* 	background: #ddd; */
/* 	margin: 10px; */
/* 	box-shadow: 1px 2px 7px 1px #B1B1B1; */
/* 	border-radius: 10px; */
/* 	min-height: 170px; */
/* 	vertical-align: middle; */

	width: 180px;
	height: 200px;
	display: inline-block;
	margin: 0px 20px 25px 30px;
	overflow: hidden;
	cursor: pointer;
}

* html #picasa .album{
  width: 150px;
}

#picasa .album .content_item_album{
  display: block;
  height: 112px;
}
  
#picasa .album .content_item_album img{
  border-radius: 10px;
  max-width: 150px;/*tamaño máximo de un album*/
  max-height: 112px;
}

#picasa .album span.title_album{
  display: block;
  overflow: hidden;
  margin-top: 5px;
  font-size: 11px;
  text-align: center;
  color: #0087C8;
  font-weight: bold;
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
}

* html #picasa .album span.title_album{
  height: 15px;
}

* html #picasa .album img{
  width:150px;/*ancho de la imagen representativa de un album para IE*/
}

#fotos{
  width: 99%;
}

#fotos .foto{
/*   padding: 10px; */
/* 	/* float: left; */ */
/* 	background: #ddd; */
/* 	margin: 20px; */
/* 	border-radius: 10px; */
/* 	vertical-align: middle; */
/* 	max-height: 110px; */
/* 	overflow: hidden; */
/* 	display: inline-block; */
	width: 200px;
	height: 130px;
	display: inline-block;
	margin: 30px 15px 15px 15px;
}

#fotos .foto  img{
/*   max-width: 150px;tamaño máximo de las imagenes de un album en el conjunto de imagenes */
/*   cursor: pointer; */
/*   border-radius: 10px; */
	width: 190px;
	height: 120px;
	border-radius: 10px;
	cursor: pointer;
}

* html #fotos .foto img{
  width:150px;/*ancho de las imagenes para IE de un album en el conjunto de imagenes*/
}

#title{
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.titulo_sinCarrusel{
  color: orange !important; /*color de texto superior del conjunto de fotos pequeñas*/
}
.titulo_conCarrusel{
  color: black !important; /*color de texto superior del preview del carrusel de fotos*/
}
.body_sinCarrusel{
  background: transparent; /*color de fondo cuando no se esta en el carrusel de fotos*/
}
.body_conCarrusel{
  background: transparent; /*color de fondo del carrusel de fotos*/
}

#title a:link, #title a:visited, #title a.hover{
  text-decoration: none;
  color: #0033CC;
}

#content_carrusel{
  overflow: hidden;
  position: relative;
}

* html #content_carrusel{
  width: 100%;
}

#carrusel{
  background-color: #1C1C1C; /*color de fondo del contenedor de la imagen del carrusel*/
  /*border-radius: 10px 10px 10px 10px;*/
  /*box-shadow: 0 2px 20px white;*/
  height: 93%;
  margin-top: 5px;
  overflow: hidden;
  width: 95%;
  float: left;
  position: relative;
}

.pulso{
  width: 24px;/*ancho del boton de anterior y siguiente*/
}

#galeria{
  float: left;
  overflow: hidden;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#galeria > li{
  margin-bottom: 5px;
  height: 100%;
  float: left;
}

* html #galeria li{
  top: 0px;
  display: inline;
}

.div_prev, .div_next{
  float: left;
  margin-top: 5px;
  cursor: pointer;
  background-color: transparent;/*color de fondo del boton siguiente y anterior*/
}

.div_prev .pulso{
  background-image: url('/elementos/izquierda.png');/*url de la imagen que representa al boton anterior*/
  background-repeat: no-repeat;
  background-position: center;
}
.div_next .pulso{
  background-image: url('/elementos/derecha.png');/*url de la imagen que representa al boton siguiente*/
  background-repeat: no-repeat;
  background-position: center;
}

.div_prev:hover, .div_next:hover{
  background-color: #ddd;/*color de fondo del boton siguiente y anterior cuando se pasa el mouse por encima de el*/
}

 
#loading{
	/*color de fondo del icono de carga*/
}

#main{
  position: relative;
}
#approval{
  position: relative;
}
#waiting{
  position: relative;
}

/*NEW*/

.album-box{
	width: 180px;
	height: 200px;
	display: inline-block;
	margin: 0px 20px 25px 30px;
	overflow: hidden;
}
.shadow-box{
	width: 140%;
	height: 180px;
	box-shadow: 0px 4px 22px 3px #c5c5c5;
	border-radius: 80px;
	position: relative;
	top: 0px;
	left: -20%;
}
.content-box{
	width: 100%;
	height: 180px;
	background: url(/elementos/img/fondo-box.png);
	background-size: cover;
	position: relative;
	top: -180px;
	left: 0px;
	box-shadow: 0px 0px 12px 0px #ddd inset;
}
.portada-box{
	width: 166px;
	height: 110px;
	border-radius: 5px;
	position: relative;
	top: 7px;
	left: 7px;
}
.texto-box{
	width: 95%;
	height: 30px;
	font-family: Arial;
	font-size: 13px;
	position: relative;
	top: 20px;
	left: 5px;
	text-align: center;
	color: #31b09b;
	overflow: hidden;
}

.foto-fbox{
	width: 200px;
	height: 130px;
	border: 1px solid #ddd;
	display: inline-block;
	margin: 30px;
}
.shadow-fbox{
	width: 200px;
	height: 0px;
	box-shadow: 0px 0px 20px 7px #BEBEBE;
	position: relative;
	top: 0px;
}
.imagen-fbox{
	width: 190px;
	height: 120px;
	border: 5px solid #fff;
	position: relative;
	top: 0px;
	left: 0px;
	background: #fff;
	z-index: 9;
}
.shadow-izquierda-fbox{
	width: 20px;
	height: 20px;
	box-shadow: -2px -2px 5px 0px #ddd;
	position: relative;
	top: -130px;
	left: 0px;
}
.shadow-derecha-fbox{
	width: 20px;
	height: 20px;
	box-shadow: 2px -2px 5px 0px #ddd;
	position: relative;
	top: -150px;
	left: 180px;
}
.imagen-bg-fbox{
	width: 190px;
	height: 120px;
	border-radius: 10px;
}
