*{
	margin: 0;
}
.container{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 670px;
	height:100%;
	overflow: hidden;
	text-align: center;;
}
.three{
	width: 100%;
	height: 30px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 20px 0px 0px 20px;
}
.idThree, .three span{
	text-decoration: none;
	color: #747474;
	font-family: Arial;
	font-size: 14px;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
}
.three span{
	margin: 0px 10px 0px 10px;
	height: 30px;
	width: 15px;
	background: url(../img/sp.gif) no-repeat center;
	background-size: contain;
}

.imgPerfil{
	width: 200px;
	height: 200px;
	box-shadow: 0px 4px 12px 0px #c5c5c5;
	border-radius: 10%;
	margin: 0px auto;
}

.nombrePerfil{
	font-family: Arial;
	font-size: 34px;
	font-weight: 300;
	color: #888;
	width: 100%;
}
#leftPerfil{
	position: absolute;
	top: 60px;
	left: 0px;
	width: 40%;
	padding-top: 70px;
	padding-bottom: 130px;
	border-right: 1px solid #ddd;
}
#rightPerfil{
	position: absolute;
	top: 50px;
	left: 33%;
	width: 67%;
}
.datos{
	width: 100%;
	font-size: 16px;
	font-family: Arial;
	margin: 20px 0px 0px 0px;
}
.pregunta{
	text-align: right;
	width: 39%;
	display: inline-block;
	color: #f59e14;
	vertical-align: top;
}
.respuesta{
	width: 50%;
	color: #605f61;
	text-align: left;
	display: inline-block;
	text-decoration: none;
	margin-left: 25px;
}
.correo{
	width: 100%;
	font-family: Arial;
	text-align: center;
	color: #757575;
	font-size: 14px;
	text-decoration: none;
	margin-bottom: 20px;
}
.jefe{
	width: 140%;
margin-left: -40%;
background: #fff;
}
.imgPerfil2{
	width: 100px;
	height: 100px;
	box-shadow: 0px 4px 12px 0px #c5c5c5;
	border-radius: 10%;
	position: relative;
	top: 35px;
}
.nombreJefe a, .correoJefe, .jefeText{
	position: relative; 
	text-align: left;
	font-family: Arial;
	color: #605f61;
	font-size: 16px;
	text-decoration: none;
	margin: 5px;
}
.nombreJefe {
	width: 70%;
	text-align: left;
	padding-left: 120px;
}
.correoJefe{
	width: 70%;
	text-align: left;
	padding-left: 120px;
}
.correoJefe a{
	font-size: 14px;
	text-decoration: none;
	color: #605f61;
}
.jefeText{
	margin-top: -60px;
	font-size: 18px;
	color: #f59e14;
	width: 70%;
	text-align: left;
	padding-left: 120px;
}