*{
	margin: 0;
}

#sliderVideos{
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border: solid #fff 5px;
	left: -5px;
	background: #fff;
	width: 600;
 	height: 340px; 
	position: relative;
	top: 5px;
	left: 3px;
	overflow: hidden;
}
.noticia{
	width: 100%;
/* 	height: 346px; */
	position: absolute;
	left:600px;
	top: 0px;
	z-index: 90;
	
}
.noticia a{
	width: 100%;
/* 	height: 346px; */
	z-index: 98;
	position: absolute;
}
.hideOverflow {
    overflow: hidden
}
.control{
	width: 32px;
	height: 32px;
	overflow: hidden;
	position: absolute;
	z-index: 99;
	
}

#before{
	margin: 150px 0px 0px 10px;
	background: url(../img/controls.png) 0px -31px;
}
#next{
	margin: 150px 0px 0px 560px;
	background: url(../img/controls.png) -43px -32px no-repeat;
}
#before:hover{
	background: url(../img/controls.png) 0px 0px;
}
#next:hover{
	background: url(../img/controls.png) -43px 0px no-repeat;
}
.ho{
	width: 100%;
	height: 85%;
	z-index: 96;
	position: absolute;
	top:0;
}
.ho:hover > .msn{ 
	opacity:1; 
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.msn{
	position: absolute;
	top:0;
	left: 5;
	font-size:13px;
	font-family: Arial;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 570px;
	z-index: 97;
	color: #fff;
	padding: 10px 10px 10px 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-radius:8px;
	opacity:0;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width:800px) and (min-width:600px){
	
}