*{
	margin: 0;
}
.container{
	width: 670px;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
}
.card{
	width: 90px;
	height: 90px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0px 4px 12px 0px #c5c5c5;
	cursor: pointer;
	position: fixed;
	top: 100%;
	left: 295px;
	opacity: 0;
}
.name{
	font-family: Arial;
	color: #fff;
	font-weight: bold;
	padding: 3px 0px 3px 0px;
	width: 100%;
	border-radius: 10px;
	text-align: center;
	opacity: 0.8;
	margin: 0px 0px 5px -10%;
}
.job{
	font-family: Arial;
	color: #808080;
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin: 0px 0px 5px -10%;
}
.info{
	position: absolute;
	font-size: 12px;
	top: 100px;
	width: 120%;
	background: #fff;
}
#block-click{
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99;
}
#back{
	width: 120px;
	height: 160px;
	background:  url(../img/back2.png) no-repeat top;
	position: fixed;
	top: 30px;
	left: 280px;
	z-index: 98;
	cursor: pointer;
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}
#back:hover{
	top: 25px;
	height: 165px;
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}
#x-line{
	height: 1px;
	background: #919191;
	width: 100px;
	position: absolute;
	top: 250px;
	left: 340px;
}
.y-line-2{
	height: 200px;
	background: #919191;
	width: 1px;
	top: 250px;
	left: 5px;
	z-index: -3;
	position: absolute;
}
.y-line-3{
	height: 1px;
	background: #919191;
	width: 20px;
	top: 320px;
	left: 5px;
	z-index: -3;
	position: absolute;
}
.y-line{
	height: 0px;
	background: #919191;
	width: 1px;
	top: 250px;
	left: 340px;
	z-index: -3;
	position: absolute;
}
#y-line-boss{
	height: 30px;
	background: #919191;
	width: 1px;
	top: 220px;
	left: 339px;
	z-index: -3;
	position: absolute;
}
.three{
	position: absolute;
	top: 10px;
	left: 20px;
	width: 100%;
	height: 30px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.idThree, .three span{
	text-decoration: none;
	color: #747474;
	font-family: Arial;
	font-size: 14px;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
}
.three span{
	margin: 0px 10px 0px 10px;
	height: 30px;
	width: 15px;
	background: url(../img/sp.gif) no-repeat center;
	background-size: contain;
}
.apoyo, .asociado{
	position: absolute;
	font-family: Arial;
	font-size: 13px;
	color: #212121;
	top: 650px;
	display: inline-block;
}
.apoyo-ball, .asociado-ball{
	position: absolute;
	top: 652px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	opacity: 0.8;
}
.apoyo-ball{
	background: #FF3D00;
	left: 40px;
}
.apoyo{
	left: 60px;
}
.asociado-ball{
	background: #0079FC;
	left: 110px;
}
.asociado{
	left: 130px;
}
.profile{
	position: absolute;
	top: 5px;
	left: 105%;
	width: 18px;
	height: 18px;
	opacity: 0.5;
	z-index: 96;
}