*{
	margin: 0;
}

#sliderNoticias{
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border: solid #fff 5px;
	left: -5px;
	background: #fff;
	width: 631px;
	height: 407px;
	position: relative;
	top: 5px;
	left: 2px;
	overflow: hidden;
}
.noticia{
	width: 631px;
	height: 350px;
	position: absolute;
	left: 631px;
	top: 0px;
	z-index: 90;
	
}
.noticia a{
	width: 631px;
	height: 407px;
	z-index: 98;
	position: absolute;
}
.hideOverflow {
    overflow: hidden
}
.control{
	width: 32px;
	height: 32px;
	overflow: hidden;
	position: absolute;
	z-index: 99;
	
}

#before{
	margin: 170px 0px 0px 10px;
	background: url(../img/controls.png) 0px -31px;
}
#next{
	margin: 170px 0px 0px 590px;
	background: url(../img/controls.png) -43px -32px no-repeat;
}
#before:hover{
	background: url(../img/controls.png) 0px 0px;
}
#next:hover{
	background: url(../img/controls.png) -43px 0px no-repeat;
}



.msn{
	position: absolute;
	bottom: -57;
	left: 0;
	font-size:13px;
	font-family: Arial;
/* 	background: #666\9; */
/* 	background: rgba(80, 80, 80, 0.75); */
	background: #7e7e7e;
	width: 611px; 
	z-index: 97;
	color: #fff;
	padding: 20px 10px 20px 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}