 body{
	background: transparent;/*color de fondo*/
	overflow: hidden;
	}
	
	#carrusel{
		overflow: hidden;
	    /*padding: 5px;*/
	    float: left;
	    /*width: 90%;*/
	    height: 100%;
	    /*position: absolute;*/
	    background-color: black;
	}
	
	#videos{
		height: 100%;
		overflow: hidden; 
		position: relative;
	}
	
	#videos > div{
		float: left;
		margin-bottom: 5px;
	}
	
	#loading{/*estilo para el icono de carga*/
		text-align: center; 
		margin-top: 97px;
	}
	
	.div_prev, .div_next{
		text-align: center;
		float: left;
	}
	
	.div_prev .pulso, .div_next .pulso{
		text-align: center;
		color: white;
		font-weight: bold;
		font-size: 12px;
	}
	
	.div_prev .pulso{
		background-image: url('/elementos/izquierda.png');/*url de la imagen que representa al boton anterior*/
		background-repeat: no-repeat;
		background-position: center;
	}
	.div_next .pulso{
		background-image: url('/elementos/derecha.png');/*url de la imagen que representa al boton siguiente*/
		background-repeat: no-repeat;
		background-position: center;
	}
	
	.pulso {
		background-color: transparent;/*color de fondo del boton siguiente y anterior*/
		width: 24px;
	}
	
	.pulso:hover {
		background-color: #DA251D;/*color de fondo del boton siguiente y anterior cuando se pasa el mouse por encima de el*/
	}
	
	#content_titulo {/*estilos del contenedor del titutlo*/
		background-color: transparent;
		position: absolute;
		z-index: 100;
		overflow: hidden;
	}
	
	#titulo {/*estilos del titulo del video*/
	    padding: 2px 8px;
	    font-weight: bold;
	    background-color: transparent;
	    float: left;
	}
	
	#titulo span {
		color: transparent;
	    font-size: 12px;
	}
	
	#titulo.over{
		background-color: black !important;
		opacity:0.8;
	  	filter:alpha(opacity=80); /* Para IE8 a menos */
	}
	
	#titulo.over span{
		color: white !important;
	}
	#main {
    margin: 0px;
    padding: 0px;
    font-size: small;
  }
  #approval a, #waiting a{
   color: #0033CC;
   font-size: 12px;
  }
  
  .jwtext{
    display:none !important;
    color: red !important;
  }