.noticias{
    /* width: 716px;*/
    width: 634px;
    background-color: #41b6ed;
    
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    
    /* Quitar o ambiar esto*/
    height: auto;
}
.noticia{
    width: 458px;
    position: relative;
    padding-top: 1px;
    padding-right: 13px;
    padding-bottom: 18px;
    padding-left: 13px;
    
    background-color: #ffffff;
    border-radius: 4px;
    
    /* Quitar o cambiar esto*/
    height: auto;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}
.linea{
    position: relative;
    width: 100%;
    height: 0.6px;
    background-color: #9197a3;
    margin-bottom: 15px;
    opacity: 0.6;
}
.contenido{
    width: 100%;
    /* Quitar o ambiar esto*/
    height: auto;
    border: 1px solid rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.cabezeraVarios{
    padding-left: 5px;
    text-align: left;
    color:#9197a3;
    font-size: 12px;
    font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
    
}
.planeta{
    height: 12px;
    width: 12px;
    background-position: -144px -108px;
    background-image: url(imgplanet.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}
.imagen img{
    width: 100%;
    height: auto;
    color: rgba(0, 0, 0, .15);
    /*border-color: rgba(0, 0, 0, .15);*/
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.contenidoTextual{
    height:  auto;
    margin:  0px 12px 10px 12px;
}
.titulo{
    text-transform:uppercase;
    color: rgb(0, 138, 181);
    font-family:  Georgia, 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size:  18px;
}
.descripcionCorta{
    height:  auto;
    font-size: 12px;
    color: #141823;
    max-height: 80px;
    font-family: Helvetica;
}
a{
    text-decoration: none;
}
.informacion p{
    margin-left: 320px;
    width: 98px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding-top: 6px;
    padding-left: 8px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
p{
    margin-bottom: 10px;
    margin-top: 10px
}
/* Inicio barra de paginacion */
.paginacion {
    margin:20px 10%;
}
 
.paginacion ul {
    list-style:none;
    text-align: right;
}
 
.paginacion ul li {
    display:inline-block;
    margin-right:10px;
}
 
.paginacion ul li a {
    display:block;
    padding:10px 20px;
    color:#fff;
    background:#008ce8;
    text-decoration: none;
}
 
.paginacion ul li a:hover {
    background:#9AD8F5;
    /*#037E8C*/
}
 
.paginacion ul li .active {
    background:#9AD8F5;
    /*#037E8C*/
    font-weight:bold;
}

/* fin barra de paginacion */