@charset "utf-8";

header,nav,section,article,aside,figure,footer{
	display:block;
} 
.limpiar{
	clear:both;
}

h1{
	padding-left:14px;
	}

#lateralizq {
	float:left;
}

#lateralizq img{
	margin: 15px 34px;
}

#lateralizq div {
	margin-left:34px;
	margin-bottom:10px;
}

#lateralizq div img{
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-top:0px;
}

@media only screen
	and (min-device-width : 480px) {
#separador {
	float:left;
	background-image:url(fondo.jpg);
	width:2px;
	height:500px;
}
	}

#detalle {
	float:left;
}

#info{
	color: #C05648;
	font-size:18px;
	font-weight:bold;
	padding:10px 14px;
	background-image:url(fondo.jpg);
	width:100%;
	}

.subtitulo{
	color: #C05648;
	font-size:14px;
	font-weight:bold;
	padding:10px 14px;
	width:100%;
	}

.titulo{
	font-weight:bold;
	color: #7C8187;
	font-size:14px;
	text-align:right;
	width:50%;
	float:left;
	}
	
	.dato{
	color: #7C8187;
	font-size:14px;
	text-align:left;
	width:48%;
	float:left;
	}
	
	.espacio{
		width:2%;
	float:left;
		}
	
	